.container {
  margin-top: calc(var(--spacer) / 1.5);
  margin-bottom: -1rem;
  margin-left: calc(var(--spacer) / -1.5);
  margin-right: calc(var(--spacer) / -1.5);
  padding: calc(var(--spacer) / 1.5);
  border-top: 1px solid var(--border-color);
}

.minimal {
  margin: 0;
  padding: 0;
  border-top: 0;
}

.whitelistBadge {
  align-items: flex-start;
}

.invalidAddressMessage {
  text-align: center;
  padding: 2rem 0;
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  font-style: italic;
  margin-bottom: 0;
}
